# See https://help.github.com/ignore-files/ for more about ignoring files.

# datasets
/datasets
/RUSinGlobPolit_Dataset
/Tass_Dataset
/Tass_Dataset_tag
/telegram_Dataset
RUSinGlobPolit_Dataset.json
*.bin

# images
/images

/.ipynb_checkpoints
/__pycache__